@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.slick-dots{
      display: flex !important;
      gap: 10px;
      position: absolute;
      bottom: 15px;
      left: 50%;
}
.bannerM .slick-dots{
      bottom: 30px;
      left: 10px;
}
.slick-dots li button{
      font-size: 0;
      width: 15px;
      height: 15px;
      background: #111827;
      border-radius: 50%;
      border: 2px solid #111827;
      box-sizing: border-box;
}
.bannerM .slick-dots li button{
      width: 10px;
      height: 10px;
}
.slick-dots .slick-active button{
      background: #fff;
      box-sizing: border-box;
      width: 15px;
      height: 15px;
      border: 2px solid #111827;
      border-radius: 50%;
}
